:root {
  --focus-color: #52647c;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 539px) {
  html,
  body {
    height: auto;
    overflow: auto;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

input[type="text"],
input[type="number"] {
  background: #434a53;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 0.5rem;
  font-size: 0.95rem;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

input[disabled] {
  color: #9c9c9c;
  user-select: none;
  cursor: not-allowed;
}

:focus {
  outline: 2px solid #3f4246;
  outline: 2px solid var(--focus-color);
}

.heading {
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 1367px) {
  body {
    font-size: 1vw;
  }

  .heading {
    font-size: 1.25vw;
  }

  input[type="text"],
  input[type="number"] {
    font-size: 1vw;
    padding: 0.5vw;
  }
}

.indicator {
  transform: translateY(-50%);
}

.selectContainer {
  --padding: 0 0.5rem !important;
  --height: 2.25rem !important;
  --itemPadding: 0.75rem 0.5rem;
  font-size: 0.95rem;
  --indicatorTop: 50%;
  --indicatorRight: 0.5rem;
  color: #fff;
  --background: #434a53;
  --listBackground: #292c30;
  --itemHoverBG: #434a53;
  --border: 1px solid transparent;
}

.selectContainer input[readonly] {
  display: none;
}

.selectContainer .listItem {
  --height: 1rem;
}

.selectContainer .item {
  cursor: pointer !important;
}

label {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  display: block;
}

.center > * {
  margin-right: 0.75rem;
}

@media screen and (max-width: 800px) {
  .center > * {
    margin-right: 0.5rem;
  }
  .center .selectContainer {
    border-left: 0 !important;
  }
}

.center :last-child {
  margin-right: 0;
}

.center .selectContainer input:focus ~ .selectedItem {
  visibility: hidden;
}

kbd {
  font-size: 1.1rem;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.1rem 0.25rem;
  border-radius: 0.1rem;
}
