@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
  src: url("./fonts/Inter.var.woff2") format("woff2"),
    url("./fonts/Inter.ttf") format("truetype");
}

:root {
  --focus-color: #52647c;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  scrollbar-color: dark;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

input[type="text"],
input[type="number"] {
  background: #434a53;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 0.5rem;
  font-size: 0.95rem;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

input[disabled] {
  color: #9c9c9c;
  user-select: none;
  cursor: not-allowed;
}

:focus {
  outline: 2px solid #3f4246;
  outline: 2px solid var(--focus-color);
}

.heading {
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #202935;
  border-radius: 10px;
}

@media screen and (min-width: 1367px) {
  body {
    font-size: 1vw;
  }

  .heading {
    font-size: 1.25vw;
  }

  input[type="text"],
  input[type="number"] {
    font-size: 1vw;
    padding: 0.5vw;
  }
}
